.App {
  text-align: center;
  display: flex;
  height: 100vh;
  padding: 30px;
}

.left {
  flex: 1;
}
.input {
  height: 40px;
  width: 200px;
  background: rgb(59, 59, 59);
  border-radius: 5px;
}

.submit-button {
  width: fit-content;
  height: 40px;
  background: rgb(97, 218, 251);
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
}

.submit-button:hover {

}

.right {
  flex: 2;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.shuffled-players {
  background: rgb(40, 44, 52);
  padding: 20px;
  border-radius: 10px;
  list-style: none;
  width: 200px;
}
